{% extends "base_generic.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<style>
    /* 添加基本的CSS样式 */
    
    a.plus-button {
        display: inline-block;
        text-decoration: none;
        position: fixed;
        top: 10px; /* 调整为所需的位置 */
        right: 10px; /* 调整为所需的位置 */
        background-color: #4CAF50; /* 按钮颜色 */
        color: white;
        padding: 10px 15px;
        border-radius: 50%; /* 圆形按钮 */
        transition: all 0.3s;
        font-size: 24px; /* 加号大小 */
    }
    
    /* 鼠标悬停效果 */
    a.plus-button:hover {
        background-color: #45a049;
    }
    
    /* 加号样式 */
    a.plus-button::before {
        content: "+";
    }
    </style>{% endblock %}
{% block content %}
    <h1>{{ manager.username }}'s Restaurants</h1>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                <h2>{{ restaurant.resta_name }}</h2>
                <p>Location: {{ restaurant.get_location_display }}</p>
                <p>Open: {{ restaurant.time_open }} - Close: {{ restaurant.time_close }}</p>
                <p>Average Grade: {{ restaurant.AVG_grade }}</p>
                <p>More Info: {{ restaurant.more_Info }}</p>
                <img src="{{ restaurant.image.url }}" alt="{{ restaurant.resta_name }}">
                <p>Is Open: {{ restaurant.isopen }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'applyrestaurant' %}"  class="plus-button">申请餐厅</a>
{% endblock %}
