{% extends "catalog/base_generic_cata.html" %}

{% block content %}
    <header>
        <h1>Restaurant Search</h1>
        <form method="get">
            <input type="text" name="q" id="searchBar" placeholder="Search for restaurants or dishes..." value="{{ search_query }}">
            <select name="sort" id="sortCriteria">
                <option value="default" {% if sort_by == 'default' %}selected{% endif %}>Sort by</option>
                <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
                <option value="AVG_grade" {% if sort_by == 'AVG_grade' %}selected{% endif %}>Average Grade</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        <section id="results">
            {% for restaurant in restaurants %}
                <div class="restaurant">
                    <img src="{{ restaurant.image.url }}" alt="{{ restaurant.resta_name }}">
                    <h2>{{ restaurant.resta_name }}</h2>
                    <p>Address: {{ restaurant.get_location_display }}</p>
                    <p>Average Grade: {{ restaurant.AVG_grade }}</p>
                    <p>More Info: {{ restaurant.more_Info }}</p>
                    <h3>Dishes:</h3>
                    <ul>
                        {% for dish in restaurant.dish_set.all %}
                            <li>{{ dish.dish_name }} - ${{ dish.price }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </section>
        <div id="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?q={{ search_query }}&sort={{ sort_by }}&page=1">&laquo; first</a>
                    <a href="?q={{ search_query }}&sort={{ sort_by }}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?q={{ search_query }}&sort={{ sort_by }}&page={{ page_obj.next_page_number }}">next</a>
                    <a href="?q={{ search_query }}&sort={{ sort_by }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </main>


{% endblock %}






