{% extends "catalog/base_generic_cata.html" %}

{% block content %}
  <h1>Name: {{ restaurant.resta_name }}</h1>
  <img class="media-object" src='{{ restaurant.image.url }}' alt="" style="max-width: 200px; max-height: 200px;">
  <p><strong>Manager:</strong> {{ restaurant.manager }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Location:</strong> {{ restaurant.location }}</p>
  <p><strong>Open Time:</strong> {{ restaurant.time_open }}</p>
  <p><strong>Close Time:</strong> {{ restaurant.time_close }}</p>
  <p><strong>Grade:</strong> {{ restaurant.AVG_grade }}</p>
{% endblock %}
