@charset "utf-8";
html{

    min-width: 1280px;
}
.nav{
    width: 1080px;
    margin: 0 auto;
}
.logo{
    display: block;
    background: url(../img/logo.png) no-repeat center;
    width: 234px;
    height: 80px;
    float: left;
    padding: 4px;
}
.nav-wrap{
    float: right;
}
.nav-wrap>li,.nav-item{
    float: left;
    line-height: 88px;
    width: 138px;
    text-align: center;
    color: #533336;
    font-size: 18px;
}
.nav-item:hover{
    background-color: #533336;
    color: #fff;
}
.nav-wrap .nav-active{
    background-color: #533336;
    color: #FFFFFF;
}
/*banner*/
#container { 
    border-top: 10px solid #533336;
    max-width: 1920px; 
    height:500px; 
    overflow: hidden; 
    position: relative;
    background:url(../img/banner1.jpg) no-repeat 50% 0px;
}
#buttons { 
    position: absolute; 
    height: 10px; 
    width: 100px; 
    z-index: 2; 
    bottom: 80px; 
    left: 50%;
    margin-left: -36px;
}
#buttons span {
    cursor: pointer; 
    float: left; 
    border: 2px solid #fff; 
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    background: #333; 
    margin-right: 8px;
}
#buttons .on {  
    background: #fff;
}
.arrow { 
    cursor: pointer; 
    display: none; 
    line-height: 39px; 
    text-align: center; 
    font-size: 36px; 
    font-weight: bold; 
    width: 40px; 
    height: 40px;  
    position: absolute; 
    z-index: 2; 
    top: 50%; 
    color: #fff;
}