/* styles.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

/* Container */
.container-fluid {
  padding: 0;
}

/* Sidebar */
.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #e76f51c9;
  height: 100vh;
  position: fixed;
  width: 200px;
}

.sidebar-nav li {
  margin-top: 50px;
  text-align: center;
  padding: 15px 0;
}

.sidebar-nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.sidebar-nav li a:hover {
  background-color: #e76f51a0;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  background-color: #212529;
}

.sidebar-nav li {
  color: #212529;
}

/* Content */
.col-sm-10 {
  margin-left: 200px; /* Adjust to the width of the sidebar */
  padding: 20px;
}

.col-sm-10 h1, .col-sm-10 h2, .col-sm-10 h3, .col-sm-10 h4, .col-sm-10 h5, .col-sm-10 h6 {
  color: #343a40;
}

/* Links */
a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

a:active, a:focus {
  color: #004085;
  text-decoration: none;
}

/* User Info */
.user-info {
  color: #6c757d;
  text-align: center;
  margin: 20px 0;
}
